@charset "UTF-8";

@font-face {
    font-family: 'darksouls';
    src: url('../fontes/OptimusPrinceps.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'dsbold';
    src: url('../fontes/OptimusPrincepsSemiBold.ttf') format('truetype');
    font-weight: bold;
}

:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'darksouls', sans-serif;
    --font3: 'dsbold', sans-serif;
}

* {
    padding: 0px;
    margin: 0px;
}

html, body {
    min-height: 100vh;
    font-family: var(--fonte2);
}

body {
    background-color: black;
    background-position: center;
    background-attachment: fixed;
}

main {
    background-color: rgb(0, 0, 0);
    color: white;
    margin-right: 7%;
    margin-left: 7%;
}

h2 {
    font-family: var(--font3);
    font-size: 5vh;
    text-align: center;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.534);
    padding: 5px;
    text-decoration: underline;
    border-radius: 5px 5px 0px 0px;
}

p {
    display: flex;
    padding: 10px;
    text-indent: 15px;
    font-size: 3vh;
    font-weight: bold;
}

div {
    margin-bottom: 10px;
}

#ds1 {
    background-color: black;
    text-align: center;

    padding-top: 8px;
    padding-bottom: 5px;
    font-family: var(--font2);
    font-size: 5vh;
}

div.conteudo {
    background-color: rgba(0, 0, 0, 0.336);
    font-family: var(--font2);
    width: 50vh;
    border-radius: 5px 5px 5px 10px;
}

img.darksouls {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

div#solaire {
    background-image: url(../imagens/solaire.jpg);
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 1px 1px 10px black;
    padding: 5vh;
    height: 50vh;
}

div#artorias {
    background-image: url(../imagens/artorias.jpg);
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 1px 1px 10px black;
    padding: 5vh;
    height: 50vh;
}

div#kalameet {
    background-image: url(../imagens/kalameet.jpg);
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 1px 1px 10px black;
    padding: 5vh;
    height: 50vh;
}

div#andre {
    background-image: url(../imagens/andre.jpg);
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 1px 1px 10px black;
    padding: 5vh;
    height: 50vh;
}

div#sss {
    background-image: url(../imagens/sss.jpg);
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 1px 1px 10px black;
    padding: 5vh;
    height: 50vh;
}

div#gsart {
    background-image: url(../imagens/gsa.jpg);
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 1px 1px 10px black;
    padding: 5vh;
    height: 50vh;
}

div#machete {
    background-image: url(../imagens/capra.jpg);
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 1px 1px 10px black;
    padding: 5vh;
    height: 50vh;
}

div#uchigatana {
    background-image: url(../imagens/uchi.jpeg);
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 1px 1px 10px black;
    padding: 5vh;
    height: 50vh;
}

#ds2 {
    background-color: black;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 5px;
    font-family: var(--font2);
    font-size: 5vh;
}

#ds3 {
    background-color: black;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 5px;
    font-family: var(--font2);
    font-size: 5vh;
}